@{
    ViewData["Title"] = "Home";
}
<h1>MCBA Admin App</h1>

<div class="d-flex flex-column">
    <a asp-controller="BillPay" asp-action="Index">Manage BillPays</a>
    <a asp-controller="Customer" asp-action="Index">Manage Customers</a>
    <a asp-controller="Login" asp-action="Index">Manage Logins</a>
</div>
