@model UpdatePasswordViewModel
@{
    ViewData["Title"] = "Update Password";
}

<div class="p-2"></div>
<div>
    <a asp-controller="Customer" asp-action="CustomerInformation">Back to My Profile</a>
</div>
<div class="p-2"></div>

<h1 class="display-4">Update Password</h1>

<form asp-action="UpdatePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="Password" class="control-label">Password</label>
        <input id="Password" name="Password" class="form-control"
               value="@Model.Password"
               type="password"
               data-val="true"
               data-val-required="The Password field is required." />
        @Html.ValidationMessage("Password", new { @class = "text-danger" })
    </div>

    <input type="submit" value="Update" class="btn btn-primary" />
</form>
       

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}